---
export interface props {
	placeholder: string;
	type: string;
	name: string;
	required?: boolean;
}

const { placeholder, type, name, required } = Astro.props;
---

<div class="txt_field">
	<input type={type} name={name} id={name} {required} />
	<span></span>
	<label for={name}>{placeholder}</label>
</div>
<style>
	.txt_field {
		position: relative;
		border-bottom: 2px solid #adadad;
		width: 100%;
		margin: 30px 0;
	}

	.txt_field input {
		width: 100%;
		padding: 0 5px;
		height: 40px;
		font-size: 16px;
		border: none;
		background: none;
		outline: none;
	}

	.txt_field input:disabled {
		color: inherit;
	}

	.txt_field label {
		position: absolute;
		top: 50%;
		left: 5px;
		color: #adadad;
		transform: translateY(-50%);
		font-size: 16px;
		pointer-events: none;
		transition: 0.5s;
	}

	.txt_field span::before {
		content: "";
		position: absolute;
		top: 40px;
		left: 0;
		width: 0%;
		height: 2px;
		background-size: 200% 100% ;
        background-image: linear-gradient(to left, #2691d9 50%, var(--color, rgb(255, 136, 0)) 50%);
		--bg-pos-x: calc(100% - var(--progress, 0%));
		background-position-x: var(--bg-pos-x);
		transition: all 0.5s;
	}

	.txt_field input:focus ~ label,
	.txt_field input:valid ~ label,
	.txt_field input:disabled ~ label {
		top: -5px;
		color: #2691d9;
	}

	.txt_field input:focus ~ span::before,
	.txt_field input:valid ~ span::before,
	.txt_field input:disabled ~ span::before {
		width: 100%;
	}
</style>
