---
import App from "../../../layouts/App.astro";
import { getCachedMovieById } from "../../../model/database";
import { isAuthorized } from "../../../model/utils";

if (!isAuthorized(Astro.request)) return Astro.redirect("/login");

const { id } = Astro.params;

const movie = getCachedMovieById(parseInt(id + ""));

if (!movie) return new Response("Movie not found", { status: 404 });
---

<App title="jaajTV | Search" selected_index={0}>
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <div id="movie-page" class="vbox slide-transition">
        <section id="top-section">
            <img src={movie.image} alt={movie.baseName} onerror="this.onerror=null;this.src='/assets/placeholder.jpg'"/>
            <div id="movie-info" class="vbox">
                <header class="hbox" style="margin-bottom: 50px;">
                    <div class="title-container">
                        <h1>{movie.title || movie.baseName}</h1>
                        <a href={movie.url}><h2>{movie.baseName}</h2></a>
                    </div>
                    <a href="/app/library" id="close-button">
                        <img src="/assets/close.svg" alt="close" id="close-icon"/>
                    </a>
                </header>
                <section id="files-section">
                    <div class="hbox full-width align-center">
                        <h3>Files</h3>
                        <a id ="manage-button" href={`/app/search/${id}`} onclick="document.getElementById('movie-page').classList.remove('slide-transition'); document.getElementById('movie-info').classList.add('fade-transition');">[ Manage files ]</a>
                    </div>
                </section>
            </div>
        </section>
        <section id="bottom-section">
            <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                data-setup="{}"
            >
                <source src="/api/library/video" type="video/webm" />
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                >
                </p>
            </video>
        </section>
    </div>
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <style>
        #top-section {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        #movie-page {
            height: 100%;
            width: 100%;
            background-color: whitesmoke;
            overflow: scroll;
        }

        html.is-leaving #movie-page.slide-transition {
            transform: translateY(100%);
            transition: transform 0.5s ease-in-out;
        }

        html.is-leaving #movie-info.fade-transition {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        #movie-page img {
            height: 100%;
            object-fit: contain;
        }

        #movie-info {
            height: 100%;
            width: 100%;
            padding-top: 1rem;
            padding-left: 3rem;
        }
    
        #movie-info header {
            width: 100%;
            justify-content: space-between;
        }
    
        #close-button {
            min-width: 2rem;
            min-height: 2rem;
            margin-right: 1rem;
        }
    
        #close-icon {
            height: 2rem;
            width: 2rem;
            cursor: pointer;
        }
    
        .title-container {
            display: flex;
            flex-direction: column;
        }
    
        .title-container a {
            color: inherit;
            text-decoration: none;
        }

        .title-container h1 {
            font-size: 2.5rem;
            margin-bottom: 0;
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out forwards 0s;
        }
    
        .title-container h2 {
            font-size: 1rem;
            margin-block: 0;
            margin-left: 0.5rem;
            color: gray;
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out forwards 0.2s;
        }
    
        .title-container a:hover h2 {
            text-decoration: underline;
        }

        #manage-button {
            color: #007bff;
            text-decoration: none;
            font-size: 1rem;
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out forwards 0.4s;
            margin-block: auto;
            margin-left: 1rem;
        }
    </style>
</App>