---
import BottomPopup from "../../components/BottomPopup.astro";
import LoadingBoi from "../../components/LoadingBoi.astro";
import NavBar from "../../components/NavBar.astro";
import SearchBar from "../../components/SearchBar.astro";
import Transition from "../../components/Transition.astro";
import GradientBackground from "../../layouts/GradientBackground.astro";
import { isAuthorized } from "../../model/utils";

if (!isAuthorized(Astro.request)) return Astro.redirect("/login");
---
<script src="../src/cookie-utils.js" type="text/javascript" is:inline/>
<script type="text/javascript" defer>

function createSpacer(element) {
    const spacer = document.createElement("div");
    const rect = element.getBoundingClientRect();
    spacer.style.minWidth = rect.width + "px";
    spacer.style.minHeight = rect.height + "px";
    element.parentNode.insertBefore(spacer, element);
} 

function onMovieClicked(clicked_a) {
    let results_container = document.getElementById("search-results");
    results_container.classList.remove("has-transition");
    const target_root = clicked_a.parentElement.parentElement;
    const rect = target_root.getBoundingClientRect();
    target_root.style.position = "absolute";
    createSpacer(target_root);
    target_root.style.top = `${rect.top}px`;
    target_root.style.left = `${rect.left}px`;
    setTimeout(() => {
        target_root.classList.add("is-showing");
    }, 10);
    
}

function movieElement(movie, animation_delay, no_animation) {
    const out = document.createElement("div");
    out.classList.add("vbox", "movie");

    if (no_animation) {
        out.style.animation = `movie-appear 0s forwards`;
    } else {
        out.style.animation = `movie-appear 0.5s ease-in-out ${animation_delay}s forwards`;
    }

    const image_fallback = "/assets/placeholder.jpg";
    let image_url = movie.image ? movie.image : image_fallback;

    const important_properties = ["episode","season","language", "quality", "resolution", "year"];

    out.innerHTML = `
        <div class="poster-container">
            <img src="${image_url}" alt="${movie.title}" onerror="this.onerror=null;this.src='${image_fallback}'" />
        </div>
        
        <div class="vbox movie-info">
            <a href="./movie/${movie.id}" style="color: inherit;" onclick="onMovieClicked(this); handleLoad(event);"><h3>${movie.title || movie.baseName}</h3></a>
            <ul>
                ${important_properties.map((prop) => {
                    return movie[prop] ? `<li>${prop}: ${movie[prop]}</li>` : ""
                }).join("")}
            </ul>
        </div>
        `
    return out;
}

/**
 * @param { String } query
 * @param { boolean | void } no_animation
 */
async function runSearch(query, no_animation) {
    const container = document.getElementById("search-results");
    container.innerHTML = "";

    const response = await fetch("/api/search", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: query,
    });

    const results = (await response.json()).results;

    let i = 0;
    for (const result of results) {
        container.appendChild(movieElement(result, i * 0.1, no_animation));
        i++;
    }

    return results;
}

/**
 * @param { SubmitEvent } event
 */
async function onSearch(event) {
    event.preventDefault();
    
    const loadingBoi = document.getElementById("loading-boi");
    loadingBoi.classList.add("visible");

    const popup = document.getElementById("bottom_popup");
    popup.classList.remove("visible");

    const query =  JSON.stringify(Object.fromEntries(new FormData(event.target)));
    sessionStorage.setItem("search_query", query);

    const results = await runSearch(query);

    console.log(results);

    loadingBoi.classList.remove("visible");

    if (!results.length) {
        popup.classList.add("visible");
    }
}

document.addEventListener("DOMContentLoaded", () => {
    const searchBar = document.getElementById("search-bar");
    searchBar.addEventListener("submit", onSearch);

    let cached_search = sessionStorage.getItem("search_query");
    if(cached_search) {
        let custom_search = JSON.parse(cached_search);
        custom_search.is_custom = true;
        runSearch(JSON.stringify(custom_search), true);
        let formData = JSON.parse(cached_search);
        let form = document.getElementById("search-bar");
        form.getElementsByTagName("input")[0].value = formData.search;
        form.getElementsByTagName("select")[0].value = formData.category;
    }
});

</script>
<link rel="stylesheet" href="/movie.css" />
<Transition />
<GradientBackground title="jaajTV | Search">
    <NavBar selected_index={0}/>
    <div class="vbox full-height full-width">
        <SearchBar />
        <div style="pointer-events: none;position:absolute; margin: auto; margin-left: 15%; width: 85%; height: 100%; display: flex; justify-content: center; align-items: center;" id="loading-boi">
            <LoadingBoi />
        </div>
        <div id="search-results" class="hbox wrap has-transition">
        </div>
        <BottomPopup message="No results" color="#FFFFFF"/>
    </div>
</GradientBackground>
<style>
    #search-results {
        overflow-y: auto;
        padding-block: 1rem;
        padding-right: 1rem;
        padding-left: 3rem;
        margin-left: 15%;
        width: 85%;
        height: 100%;
        opacity: 0;
    }

    html.is-leaving #search-results.has-transition {
        opacity: 0;
        transition: 500ms;
    }

    html.is-loaded #search-results {
        opacity: 1;
        transition: 1500ms;
    }

    html.is-refreshed #search-results {
        opacity: 1;
        transition: 0s;
    }

    #loading-boi {
        display: none;
        opacity: 0;
        transition: 1s;
    }

    #loading-boi.visible {
        display: block;
        animation: scale-in 1s forwards;
    }

    @keyframes scale-in {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>