---
import LoadingBoi from "../../components/LoadingBoi.astro";
import NavBar from "../../components/NavBar.astro";
import SearchBar from "../../components/SearchBar.astro";
import Transition from "../../components/Transition.astro";
import GradientBackground from "../../layouts/GradientBackground.astro";


---
<script defer>

function movieElement(movie, animation_delay) {
    const out = document.createElement("a");
    out.classList.add("vbox", "movie");
    // remove link styling
    out.style.textDecoration = "none";
    out.style.color = "inherit";
    out.style.animation = `movie-appear 0.5s ease-in-out ${animation_delay}s forwards`;
    out.href = movie.url;

    const image_fallback = "../assets/placeholder.jpg";
    let image_url = movie.image ? movie.image : image_fallback;

    const important_properties = ["language", "quality", "resolution", "year"]

    out.innerHTML = `
        <div class="poster-container">
            <img src="${image_url}" alt="${movie.title}" onerror="this.onerror=null;this.src='${image_fallback}'" />
        </div>
        
        <div class="vbox movie-info">
            <h3>${movie.title || movie.baseName}</h3>
            <ul>
                ${important_properties.map((prop) => {
                    return movie[prop] ? `<li>${prop}: ${movie[prop]}</li>` : ""
                }).join("")}
            </ul>
        </div>
        `
    return out;
}

/**
 * @param { SubmitEvent } event
 */
async function onSearch(event) {
    event.preventDefault();

    const container = document.getElementById("search-results");
    container.innerHTML = "";
    
    const loadingBoi = document.getElementById("loading-boi");
    loadingBoi.classList.add("visible");

    const query =  Object.fromEntries(new FormData(event.target));

    const response = await fetch("../api/search", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            query,
        }),
    });

    const results = (await response.json()).results;

    console.log(results);

    loadingBoi.classList.remove("visible");

    let i = 0;
    for (const result of results) {
        container.appendChild(movieElement(result, i * 0.1));
        i++;
    }
}

document.addEventListener("DOMContentLoaded", () => {
    const searchBar = document.getElementById("search-bar");
    searchBar.addEventListener("submit", onSearch);
});

</script>
<link rel="stylesheet" href="../movie.css" />
<Transition />
<GradientBackground title="jaajTV | Search">
    <NavBar selected_index={0}/>
    <div class="vbox full-height full-width">
        <SearchBar />
        <div style="pointer-events: none;position:absolute; margin: auto; margin-left: 15%; width: 85%; height: 100%; display: flex; justify-content: center; align-items: center;" id="loading-boi">
            <LoadingBoi />
        </div>
        <div id="search-results" class="hbox wrap">
        </div>
    </div>
</GradientBackground>
<style>
    #search-results {
        overflow-y: auto;
        padding-block: 1rem;
        padding-right: 1rem;
        padding-left: 3rem;
        margin-left: 15%;
        width: 85%;
        height: 100%;
    }

    html.is-leaving #search-results {
        opacity: 0;
        transition: 500ms;
    }

    #loading-boi {
        display: none;
        opacity: 0;
        transition: 1s;
    }

    #loading-boi.visible {
        display: block;
        animation: scale-in 1s forwards;
    }

    @keyframes scale-in {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>